services:
  backend:
    build: ./backend       # <-- CAMBIO: Busca el Dockerfile dentro de /backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app     # <-- CAMBIO: Sincroniza la carpeta backend

  frontend:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      # CAMBIO: Busca el html dentro de la carpeta /frontend
      - ./frontend/index.html:/usr/share/nginx/html/index.html